<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather Website</title>
</head>

<body>
   {{>navbar}}
    <div class="contactMain">
        <div class="contactImg">
            <h1>ConTact Us</h1>
        </div>
    </div>
    <div class="infoMain">
        <div class="info">
            <div class="infoHead">
                <h1>Contact uS</h1>
            </div>
            <div class="infoPara">
                <p> Even the all-powerful Pointing has no control about the blind texts it is an almost
                    unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to
                    leave for the far World of Grammar.
                </p>
            </div>
            <div class="form">
                <div class="input">
                    Name
                    <input type="text" placeholder="Enter Your  Name">
                </div>
                <div class="input">
                    Email Address
                    <input type="text" placeholder="Enter Your Email Address">
                </div>
                <div class="input">
                    Message
                    <input type="text" placeholder="Enter Message">
                </div>
                <div class="cbtn">
                    <button>Submit</button>
                </div>
            </div>
        </div>
        <div class="contactInfo">
            <div class="address">
                <h1>Address</h1>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
            <div class="address">
                <h1>Our Office</h1>
                <p>908 Broadway,</p>
                <p> San Francisco,</p>
                <p> CA 94133</p>
            </div>
            <div class="address">
                <h1>Works Hours</h1>
                <p>9AM - 3PM, Mon to Fri</p>
            </div>
            <div class="address">
                <h1>Contact</h1>
                <p>contact@business.com</p>
                <p> 01 (650) 658 6822</p>
            </div>
        </div>
    </div>
    <div class="Servicebox">
        <div class="boxText">
            <p>What we are best at</p>
            <h1>Our Services</h1>
        </div>
    </div>
    <div class="boxContainer1" >
        <div class="boxes1">
            <div class="boxesImg1" id="img1">
                
            </div>
            <div class="boxesTitel1" >
                <h1>Junaid Sultan</h1>
            </div>
            <div class="boxesPara1">
                <p>CEO</p>
            </div>
            <div class="boxesParaInfo">
                <p>ceo@business.com</p>
                <p>01 (650) 658 6823</p>
            </div>
        </div>
        <div class="boxes1">
            <div class="boxesImg1" id="img2">
               
            </div>
            <div class="boxesTitel1">
                <h1>Rehan Rao</h1>
            </div>
            <div class="boxesPara1">
                <p>CTO</p>
            </div>
            <div class="boxesParaInfo">
                <p>cTo@business.com</p>
                <p>01 (650) 658 6823</p>
            </div>
        </div>
        <div class="boxes1">
            <div class="boxesImg1" id="img3">
            </div>
            <div class="boxesTitel1">
                <h1>Awias Rao</h1>
            </div>
            <div class="boxesPara1">
                <p>Design Director</p>
            </div>
            <div class="boxesParaInfo">
                <p>ceo@business.com</p>
                <p>01 (650) 658 6823r</p>
            </div>
        </div>
    </div>
    <div class="contactMain">
        <div class="contactBox">
            <h1>Grow your business.</h1>
            <p>Today is the day to build the business of your dreams. Share your mission with <br>
                the world — and blow your customers away.</p>
            <button>
                Start Now
            </button>
        </div>
    </div>
{{>footer}}
</body>
</html>