<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <title>Weather Website</title>
</head>
<body>
   {{>navbar}}
    <div class="main">
        <div class="container">
            <h1>Grow your business.</h1>
            <p>Give your business a boost with a beautifully crafted homepage</p>
            <button>Learn More</button>
        </div>
    </div>
    <div class="content">
        <div class="contentHead">
            <p>What we believe in</p>
        </div>
        <div class="contentText">
            <p>Grow your business, establish your brand, and put <br>your customers first.</p>
        </div>
    </div>
    <div class="box">
        <div class="textbox">
            <div class="titel">
                <p>About</p>
            </div>
            <div class="titel2">
                <p>Who we are</p>
            </div>
            <div class="para">
                <p>Nulla vel sodales tellus, quis condimentum enim. Nunc porttitor venenatis feugiat.
                    Etiam quis faucibus erat, non accumsan leo. Aliquam erat volutpat. Vestibulum ac faucibus eros.
                    Cras ullamcorper gravida tellus ut consequat.</p>
            </div>
            <div class="boxBtn">
                <button>Learn More</button>
            </div>
        </div>
        <div class="boxImg"></div>
    </div>
    <div class="box">
        <div class="boxImg"></div>
        <div class="textbox">
            <div class="titel">
                <p>Team</p>
            </div>
            <div class="titel2">
                <p>Who They Do</p>
            </div>
            <div class="para">
                <p>Nulla vel sodales tellus, quis condimentum enim. Nunc porttitor venenatis feugiat.
                    Etiam quis faucibus erat, non accumsan leo. Aliquam erat volutpat. Vestibulum ac faucibus eros.
                    Cras ullamcorper gravida tellus ut consequat.</p>
            </div>
            <div class="boxBtn">
                <button>Learn More</button>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="blogHeag">
            <p>About Us</p>
            <h1>Company News</h1>
        </div>
        <div class="blogBox">
            <div class="box1">
                <h3>10 Quik Tips For Bloging</h3>
                <p>9-Feb-2020</p>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique.
                    Duis cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</h4>
            </div>
            <div class="box1">
                <h3>15 Best Blog for Web Design</h3>
                <p>9-Feb-2020</p>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique.
                    Duis cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</h4>
            </div>
            <div class="box1">
                <h3>7 Beautifully Exmple of Bloging</h3>
                <p>9-Feb-2020</p>
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique.
                    Duis cursus, mi quis viverra ornare, eros dolor interdum nulla,
                    ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</h4>
            </div>
        </div>
    </div>
    <div class="contactMain">
    <div class="contactBox">
        <h1>Grow your business.</h1>
        <p>Today is the day to build the business of your dreams. Share your mission with <br>
         the world — and blow your customers away.</p>
         <button id="contactBtn">
            Start Now
         </button>
    </div>
</div>
 {{>footer}}
</body>
</html>